* {
    box-sizing: border-box;
    
  }


  header div{
    display: inline-block;
    width: 100%;
    height: 250px;
    background-image: url("./por\ do\ sol.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  header div h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #5B5148;
    margin: 80px 80px 30px 80px;
   }

   header div h3{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: #1b1a19;
    margin: 20px;
   }


  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F7D5A8;
    height: auto;
  }
 
  body div p{
    text-align: center;
    margin: 50px 50px 50px 50px ;
  }

  body div p span{
    display: block;
    margin: 0px 50px 50px 50px;
  }

  label {
    display: block;
    color: #5B5148;
  }

  input,
  textarea {
    min-width: 260px;
   
  }

  form div textarea{
    height: 200px;
  }

  form {
    width: max-content;
    margin-inline: auto;
    
  }
  
  .form-group {
    margin: 1rem;
    font-weight: bold;
  }

  form div button{
    color: #5B5148;
    font-style: italic;
    background-color: #F1D7B6;
    border-radius: 10%;
    border-color: #5B5148;
    
  }

  form button{
    color: #5B5148;
    font-style: italic;
    background-color: #F1D7B6;
    border-radius: 10%;
    border-color: #5B5148;
    
  }